<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BitFactory.Logging" type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MangoUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
    <fileLoggers>
      <fileLogger name="logger" fileName="vue-events.log"/>
    </fileLoggers>
  </BitFactory.Logging>
  <userSettings>
    <MangoUI.Properties.Settings>
      <setting name="Views_UseLocalTimeZone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_Skin" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Viz_Color1" serializeAs="String">
        <value>0, 0, 192</value>
      </setting>
      <setting name="App_MDI_RecycleWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Window_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Window_Size" serializeAs="String">
        <value>600, 400</value>
      </setting>
      <setting name="TableView_ColumnSizing" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GridFS_FileSizeLong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridFS_ChunkSizeLong" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DBXplore_AutoExpandConn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindView_DoIntialFind" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridFS_ValidChar" serializeAs="String">
        <value>_</value>
      </setting>
      <setting name="GridFS_AdditionalKeys" serializeAs="String">
        <value/>
      </setting>
      <setting name="GridFS_ExposeCollections" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Views_Binary2Guid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Views_Default" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FindView_AutoExplain" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Startup_ShowConnections" serializeAs="String">
        <value>True</value>
      </setting>
    </MangoUI.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
